@model WeatherArchiveModel

@{
    ViewData["Title"] = "Year Page";
}
<div class="text-center">
    <h1 class="display-4">@Model.Header</h1>
</div>

<style>
    table, th, td {
        border: 1px solid black;
    }

    table {
        width: 100%;
    }
</style>

<table>
    <thead>
        <tr>
            <th>Дата</th>
            <th>Время (московское)</th>
            <th>T</th>
            <th>Отн. влажность воздуха, %</th>
            <th>Td</th>
            <th>Атм. давление, мм рт.ст.</th>
            <th>Направление ветра</th>
            <th>Скорость ветра, м/с</th>
            <th>Облачность, %</th>
            <th>h</th>
            <th>VV</th>
            <th>Погодные явления</th>
        </tr>
        @for (int i = 0; i < Model.Dates.Count; i++)
        {
            <tr>
                <th>@Model.Dates[i]</th>
                <th>@Model.Times[i]</th>
                <th>@Model.Temperatures[i]</th>
                <th>@Model.RelativeHumidities[i]</th>
                <th>@Model.TDs[i]</th>
                <th>@Model.AtmosphericPressures[i]</th>
                <th>@Model.WindDirections[i]</th>
                <th>@Model.WindSpeeds[i]</th>
                <th>@Model.Cloudinesses[i]</th>
                <th>@Model.Hs[i]</th>
                <th>@Model.VVs[i]</th>
                <th>@Model.WeatherPhenomenas[i]</th>
            </tr>
        }
    </thead>
</table>

